.container {
}
.userchat_containers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(186, 245, 245) 0%, #dae5f9 150%);
  margin-left: -40px;
  max-height: 650px;
  overflow-y: auto;
}

.user {
  margin: 8px 0;
  background-color: aquamarine;
  border-radius: 2px;
  padding: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 8px;
  margin: 4px 0;
}

li.selected {
  background-color: #e0e0e0;
}

.error-message {
  color: red;
  margin-top: 5px;
}
