/* Login.css */

.login-form {
  /* background-image: url('D:\StudySpace\client\vite-project\src\img\login1 rmbgr.png');
 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  */
  justify-content: center;
  display: flex;
  /* align-items: center; */
  min-height: 100vh;
  max-width: 100%;
  padding: 70px;
  background-color: rgb(254, 254, 254);
}

.login-container h2 {
  text-align: center;
  color: rgb(14, 2, 81);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -150px;
  width: 240px;
}

.login-container p {
  width: 400px;
  margin-left: -75px;
  color: black;
}

.username-input {
  width: 350px !important;
  height: 40px !important;
  margin-left: -70px !important;

}

.login {
  width: 350px !important;
  margin-left: -70px !important;
}

.forget_pass {
  text-decoration: none;
  color: black !important;
  margin-left: 150px;
  width: 200px;
  font-size: 15px;
}

.title-register {
  display: flex;
  margin-left: 70px;
  width: 700px;
  margin-top: -10px;
}

.title-register p {
  /* margin-left: 2px; */

  width: 170px;
}

.title-register .register {
  width: 100px;
  text-decoration: none !important;
  color: black;
}
.login-container h2{
  margin-left: -14px;
}
.login-container {
  height: 60vh;
  width: 60vh;
  justify-content: center;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg,
      #fbe9ef 0%,
      #9dfffa 69%,
      #a6f7ff 100%);
  border-radius: 8px;
  padding-top: 200px;

}

.login-container {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.login-container:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 105%;
  left: 5%;
  height: 52px;
  width: 95%;
  opacity: 0.5;
  background: -webkit-radial-gradient(center,
      ellipse,
      rgba(0, 0, 0, 0.16) 0%,
      rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center,
      rgba(0, 0, 0, 0.18) 0%,
      rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.login-container:hover,

.login-container:focus,

.login-container:active {

  transform: translateY(-5px);
  /* Khi hover, focus hoặc active, container sẽ di chuyển lên 5px */

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  /* Tạo hiệu ứng đổ bóng khi hover, focus hoặc active */

}

.login_error {
  color: red;
  width: 280px;
  margin-left: -23px;
}

.register_error {
  color: red;
  width: 350px;
  margin-left: -53px;
}