.profile-box {
    position: absolute;
    top: 45px; /* Điều chỉnh vị trí theo cần thiết */
     /* Điều chỉnh vị trí theo cần thiết */
     background-color: #d0f6ff;
     border-radius: 7px;
     color: #1b2121;
     width: 230px;
     height: 150px;
     margin-top: 9px;
  }
  .profile-dropdown {
    position: relative;
    display: flex;
    align-items: center; 
  }
  .Username {
    margin-right: 100px; /* Căn chỉnh username theo trục dọc */
  }
  
.profile-icon {
    margin-right: 10px; /* Khoảng cách giữa icon và username */
  }
  .profile-context
  {
    padding: 20px;
    line-Height: 2.3rem;
    margin-bottom: 10px;
}
.logout,.profile_title,.setting_title 
{
  text-decoration: none;
  color: black;
}