.profile-box {
  position: absolute;
  top: 45px;
  /* Điều chỉnh vị trí theo cần thiết */
  /* Điều chỉnh vị trí theo cần thiết */
  background-color: #f6f6f6;
  border-radius: 7px;
  color: #1b2121;
  width: 230px;
  height: 220px;
  margin-top: 9px;
  border: solid 1px #ececec;
}

.profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.Username {
  margin-right: 100px;
  /* Căn chỉnh username theo trục dọc */
}

.profile-icon {
  margin-right: 10px;
  /* Khoảng cách giữa icon và username */
}

.profile-context {
  padding: 20px;
  line-Height: 2.3rem;
  margin-bottom: 10px;
}

.logout,
.profile_title,
.setting_title {
  text-decoration: none;
  color: black;
}

.Username .text-warning {
  color: #024242 !important;
}

/* .profile-box .profile-header
{
  border: solid #1b2121!important;
} */
.profile-header
{
  /* background-color: azure;
  width: 100%; */
}
.user-avatar {
  display: flex !important;
  
}

.divider {
  width: 100%;
  margin-top: 5px;
  border: solid 0.5px black !important;
}

.mail-icon {
  margin-left: 40px;
  margin-top: -20px;
}

.user-avatar h5 {
  margin-left: 10px;
}

.user-mail {
  margin-top: 14px;
  width: 300px;
  display: flex;
}



.user-mail h6 {
  margin-top: -17px;
  font-size: 10px;
  margin-left: 8px;

}


.setting-profile {
  /* display: flex !important; */
  /* margin-left: 30px; */
  background-color: white;
  /* padding-left: 30px; */
  width: 100%;
  border-radius: 4px;
}

.edit-profile,
.logout-content, .change-pass {
  font-size: 13px;
  width: 100%;
  /* border: solid 1px black; */
  border-radius: 4px;
  margin-bottom: 0.2px;
  transition: background-color 0.3s ease;

}
.edit-profile:hover,
.logout-content:hover, .change-pass:hover
{
  background-color: #aed8f6; 
  border-radius: 4px;
}

.editProfile {
  font-weight: 50px;
  color: black;
  text-decoration: none !important;
  margin-left: 10px;
  
}

.changePass
{
  font-size: 13px;
  font-weight: 50px;
  color: black;
  text-decoration: none !important;
}

.edit-divider {
  width: 1px;
  height: 60px;
  background-color: #1b2121;
  border: solid 1px black !important;
  margin-top: -9px;
}
@media (min-width: 768px) {
   .username-update input,
  .email-update input {
    width: 300px; /* Cỡ cố định cho màn hình lớn hơn 768px */
  }
}
.modal-content
{
 
  background-color: #ffdee9 !important;
  background-image: linear-gradient(0deg,
      #fbe9ef 15%,
      #9dfffa 69%,
      #a6f7ff 100%)!important;
}
.profile-infor
{
  padding: 10px;
  width: 100%;
}
.avatar-edit img
{
  border-radius: 100%;
  height: 140px;
  width: 140px;
  margin-left: 150px ;
}
.edit-img
{
  background-color: ;
  width: 30px;
  height: 30px;
  margin-left: 260px;
  margin-top: -60px;
}
.username-update input, .old-password input
{
  margin-top: -20px;
    font-size: 15px;
    margin-left: 2px;
    width:100%;
    border: solid 1.5px rgb(44, 103, 220) !important;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 4px rgb(4, 121, 200);
}
.email-update input, .new-password  input
{
    font-size: 15px;
    margin-left: 2px;
    /* width: 400px; */
    width:100%;
    margin-top: 15px;
    border: solid 1.5px rgb(34, 88, 214) !important; 
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 4px rgb(4, 121, 200);
}
.confirm-password input
{
  font-size: 15px;
  margin-left: 2px;
  /* width: 400px; */
  width:100%;
  margin-top: 15px;
  border: solid 1.5px rgb(34, 88, 214) !important; 
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 3px 4px rgb(4, 121, 200);
}
.btn-save
{
  
  font-size: 15px;
  color:rgb(17, 15, 15) !important;
  
  width:100%;
  margin-left: 2px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: solid 0.7px rgb(169, 211, 249) !important;
  background-color: #FFD93D;
  box-shadow: 3px 3px 4px rgb(4, 121, 200);
  transition: background-color 0.3s ease;
}
.btn-save:hover{
  background-color: #eb3e24; }

.change-title
{
  

}
.change-title .icon-lock
{
  border: solid 1px black; 
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: white;
  margin-left: 20px;
  
}
.iconlock
{
  margin-bottom: 10px;
  margin-left: 8px;
  
}
.change-title h5{
  font-weight: 50px;
  margin-left: 60px;
  margin-top: -35px;
  /* margin-bottom: 30px; */
}
.title-low
{
  margin-left: 60px;
  margin-top: -20px;
  
}
.divider-title
{
  margin-left: 20px;
  width: 400px;
  margin-bottom: 20px;
}
